*.DS_Store

__pycache__/
.venv/
*.egg-info/
dist/
build/

# ignore vanilla treasure sprite binary data
src/piket/treasure/sprites/*
# include custom treasure sprites
!src/piket/treasure/sprites/custom/
!src/piket/treasure/sprites/custom/*.bin
